<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/jotted@latest/jotted.min.css">
  <div id="jotted-demo-ace" style="height: 100vh !important; overflow-x: hidden !important; overflow-y: hidden !important;"></div>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.min.js"></script> -->
<script type="text/javascript" src="/ace-builds/src/ace.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jotted@latest/jotted.min.js"></script>
<script>
  new Jotted(document.querySelector('#jotted-demo-ace'), {
    
    pane: 'result',
    showBlank: true,
    plugins: [
      'ace',
      {
      name: 'console',
      options: {
        // clear the console on each change
        autoClear: true
      }
    }
    ]
  });
</script>