<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>

        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="container">
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ range .Paginator.Pages }}
                    {{ .Render "post" }}
                {{ end }}
                {{ template "_internal/pagination.html" . }}
            </div>
            </div>
        </div>
        <h2 class="line-divider "><span class="span-line-divider ">{{ .Title }}</span></h2>
        <article class="card-post">
            <div class="container">
                <div class="list-group">
        
                    {{ $paginator := .Paginate (where .Pages "Type" "tutorial") 6 }}
                    {{ range $paginator.Pages }}
                                <a href="{{ .RelPermalink }}" class="list-group-item list-group-item-action text-center"><i class="bi bi-tags"></i>{{ .Title }}</a>

                    {{ end }}
        
                </div>
            </div>
        </article>
        
        <br>
        
        <div class="container">
            {{ partial "pagination.html" . }}
        </div>

        <br>


        

        {{ partial "footer.html" . }}
        {{ partial "js-init.html" . }}
    </body>
</html>