<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>

        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}

        <article class="card-post">
            <div class="container">
                <div class="row">
        
                    {{ $paginator := .Paginate (where .Pages "Type" "lab") 6 }}
                    {{ range $paginator.Pages }}
                        <div class="col-md-4 mb-4 d-flex">
                            <div class="card">
                                <a href="{{ .RelPermalink }}">
                                <img class='card-img-top' 
                                    src='{{ if eq .Params.Image "" }}https://placeholder.pics/svg/320x160{{else}}{{ .Params.Image}}{{end}}'
                                    alt='{{ .Title }}'>
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a>
                                    </h4>
                                </div>
                                <div class="card-footer">
                                    {{ range .Params.tags }}
                                    <span class="badge badge-success">
                                         <a class="text-success" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
                                    </span> 
                                    {{ end }}
                                </div>
                            </div>
        
                        </div>
                    {{ end }}
        
                </div>
            </div>
        </article>
        
        <br>
        
        <div class="container">
            {{ partial "pagination.html" . }}
        </div>

        {{ partial "footer.html" . }}
        {{ partial "js-init.html" . }}
    </body>
</html>