<aside>
<div class="p-4 mb-3 card rounded">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5541603196469443"
     crossorigin="anonymous"></script>
<!-- sidebar -->
<!-- <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5541603196469443"
     data-ad-slot="3242188549"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
                    <h5 class="fst-italic">About</h4>
                    <p class="mb-0">{{ .Description }}</p>
                  </div>
          
                    

                  
          
                  <!-- <div class="p-4">
                    <h4 class="fst-italic">Author Link</h4>
                    <ol class="list-unstyled">
                      <li><a href="github.com/koleksiprihadi">GitHub</a></li>
                    </ol>
                  </div> -->
    
    </aside>