<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

    var disqus_config = function () {
      this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "id-"+window.location.href; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      this.callbacks.onNewComment = [function(comment) { 
        $.ajax({
          type: "GET",
          url: `https://script.google.com/macros/s/AKfycbw2pbcsmaySXUo0gTnaHeOAqrp97tinCxFJjlu2SyoyOO52rQwb8bDJy2kdJnnF3rLXcg/exec?action=comment&data={
          "url": "${window.location.href}",
          "komen": "${comment.text}"
        }`,
        });
      }];
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://panduankoding-2.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>