<div class="container">
    <header class="fixed-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom nav-down">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none nav-kiri">
            <img src="/images/koleksiprihadi.svg" width="40px">
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" id="nav" class="nav-link px-2 link-dark">Home</a></li>
          <li><a href="/tutorial" id="nav" class="nav-link px-2 link-dark">Tutorial</a></li>
          <li><a href="/artikel" id="nav" class="nav-link px-2 link-dark">Artikel</a></li>
          <li><a href="/lab" id="nav" class="nav-link px-2 link-dark">Lab</a></li>
          <li><a href="https://visitor.panduankoding.com/subscribe/" target="_blank" id="nav" class="nav-link px-2 link-dark">Newsletter</a></li>
        </ul>
  
        <div class="col-md-3 text-end nav-kanan">
          <button type="button" class="btn" data-bs-toggle="offcanvas" aria-controls="sosialmedia" href="#sosialmedia"><span class="emoji anim" role="img" aria-label="anim"></span></button>
          <button type="button" id="theme_toggle" class="btn me-2"><i id="dark-btn" class="bi bi-cloud-sun"></i><i id="light-btn" class="bi bi-cloud-moon"></i></button>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="sosialmedia" aria-labelledby="sosialmediaLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="sosialmediaLabel">Sosial Media Panduan Koding</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              
            </div>
          </div>
      </header>  
</div>